body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Ubuntu', sans-serif;

}
/* NAVBAR.PHP */
/*INICIO DA NAVBAR */
.my-navbar{
  background-color: rgb(215, 240, 162);
}

ul.nav.navbar-nav li a{
  color: rgb(6, 75, 7);
}

.my-btn{
  background: #666;
  color:white;
}

/* button.btn.my-btn:hover{
  color: #aba232;
  background: #234913;
} */

.cor-texto ul li a{
  color: #302013;
}

.logo-img img{
  width: 90px;
  height: 80px;
  float: left;
  margin-left: 3px;
  margin-right: -5px;
  margin-top: -37px;
  margin-bottom: -17px;
}

.cart-img img{
  width: 56px;
  height: 43px;
  float: right;
  margin-left: -12px;
  margin-right: 5px;
  margin-top: -44px;
  margin-bottom: -21px;
  color: rgb(6, 75, 7);
}


/* INIIO DO DROPDOWN DA NAVBAR */
.navbar-nav>li>.dropdown-menu{
  background: rgb(215, 240, 162);
}
.navbar-default .navbar-nav>.open>a:hover{
  background: rgb(215, 240, 162);
}
.navbar-default .navbar-nav>.open>a:focus{
  background: rgb(215, 240, 162);
}
/* FIM DO DROPDOWN DA NAVBAR */
/*FIM DA NAVBAR */



/* INDEX.PHP */
/* INICIO DO CORPO (CARROSSEIS) */
.container-carrossel{
  height: 1000px;
}
/*FIM DO CORPO (CARROSSEIS)


/* ABOUT.PHP */
/* inicio do about */
.img-about img{
  width: 440px;
  height: 220px;
}

h2{
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
}

h3{
  text-align: center;
}
/* fim do about */



/* HELPING-HANDS.PHP */
/* inicio da helping-hands */
body{
  background:white;
}

h1{
  margin-top: 100px;
  width: 100%;
  height: 100px;
  text-align: center;

}

h1.subtitle {
  text-align: center;
  margin-left: 50px;
  margin-top: 0;
}

h2{
  width: 100%;
  text-align: center;
}

img{ /*IMPORTANT!*/
  width: 100%;
}

p{
  text-align: justify;
  padding: 20px;
}
/* fim do helping-hands */



/* FOOTER-NAVBAR.PHP */
/*INICIO DO FOOTER */
.footer-container{
  background-color: rgb(215, 240, 162);
  width: 100%;
  padding-top: 15px;
  margin-top: 25px;
}

.footer-container ul{
  text-align: center;
  background-color: rgb(215, 240, 162);
  width: 100%;
}

.footer-container ul li{
  list-style: none;
}

.footer-container ul li a{
  color: rgb(6, 75, 7);
}

ul.payment.img img{
  width: 10px;
}


/*FIM DO FOOTER*/

/*inicio inclusao de estilos pra h1, h2, h3 e h4 (provisorio)*/
h1{
  color: white;
}

h4{
  color: white;
  text-align: center;
}

h2{
  color: white;
}
/*fim da inclusao h1, h2, h3, h4*/
